@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

footer{
    background: #FFE2D5;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}


.seguir{
    font-size: 1.5rem;
    margin-top: 3rem;
}

footer h3{
    color: grey;
    font-size: 1.1rem;
    margin: 0 0;
    margin-left: 2rem;
}

footer a{
    text-decoration: none;
    color: #056447;
    margin-left: 0.5rem;
}



footer h2{
    font-size: 1.4rem;
    margin-left: 2rem;
}

.logos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;
}

.logos img{
    margin-right: 2rem;
}

.formulariofooter{
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

.formulariofooter input{
    border: 1px solid #EF6424;
    border-top-left-radius: 10px;
    border-end-start-radius: 10px;
    min-width: 14rem;
    height: 2.6rem;
    background: #FCFCFC;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    padding: 5px;
    margin-bottom: 1rem; 
    padding-left: 1.5rem;
}

.formulariofooter ::placeholder{
    color: #F38D5E;
}


.formulariofooter input[type=submit]{
    background-color: #F38D5E;
    min-width: 10rem;
    height: 3.4rem;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3rem;
    border-top-right-radius: 10px;
    border-end-end-radius: 10px;
    border-top-left-radius: 0px;
    border-end-start-radius: 0px;
  }

  #asociacion{
    margin-top: 2rem;
    font-size: 1.3rem;
    color: black;
}

  .asocialogo{
      display: flex;
      flex-direction: row;
      margin-top: 2rem;
  }

  .asocialogo img{
      min-width: 5rem;
      margin-left: 2rem;
      margin-right: 2.5rem;
  }

  #politics{
    color: #056447;
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
