@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

footer {
  background: #ffe2d5;
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 3rem;
  width: 100vw;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.container {
  padding-top: 2rem;
  // display: flex;
  // width: 100%;
  // flex-wrap: wrap;
  // align-content: center;
  // justify-content:space-around;
  // align-items: center;
  // flex-direction: row;
  // max-width: 15rem;
   


}


#politics {
  color: #056447;
  font-size: 1.2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.seguir {
  font-size: 1.1rem;
}

footer h3 {
  color: grey;
  font-size: 0.8rem;
  margin: 0 0;
}

footer a {
  text-decoration: none;
  color: #056447;
}
.footer__txt {
  max-width: 50%;
}

footer h2 {
  font-size: 1rem;
}

.card-container {
  width: 290px;
  margin: 1.2%;
  top: 0;
}

.logos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.logos img {
  margin-right: 2rem;
}

.formulariofooter {
  display: flex;
  flex-direction: row;
  width: 20%;
}

.formulariofooter input {
  border: 1px solid #ef6424;
  border-top-left-radius: 10px;
  border-end-start-radius: 10px;
  background: #fcfcfc;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  
}

.formulario::placeholder {
  color: #f38d5e;
}

.formulariofooter input[type=submit]{
    background-color: #F38D5E;
    min-width: 10rem;
    height: 3.4rem;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3rem;
    border-top-right-radius: 10px;
    border-end-end-radius: 10px;
    border-top-left-radius: 0px;
    border-end-start-radius: 0px;
  }

#asociacion {
  margin-top: 2.4rem;
  font-size: 1rem;
  color: black;
}

.asocialogo {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.asocialogo img {
  min-width: 5rem;
  margin-left: 2rem;
  margin-right: 2.5rem;
}

.orden__logo {
  width: auto;
  height: 70%;
}

.bottom-txt{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media only screen and (min-width: 800px) {
   .container{
  display: flex;
  flex-direction: row;
   }
}