@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.formulario{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.conjunto{
  max-width: 18rem;
  text-align: center;
  margin-bottom: 2rem;
}

.formulario .box{
  margin: 5px;
  border: 1px solid #EF6424;
  border-radius: 7px;
  min-width: 17rem;
  height: 2.7rem;
  background: #FCFCFC;
  font-family: 'Nunito', sans-serif;
  font-size: 1.1rem;
  color: black;
  padding: 0 10px;
  margin-bottom: 1.2rem;
}



::placeholder {
  color:#555555;
  opacity: 1; /* Firefox */
}

.titulo{
  text-align: center;
  color: #EF6424;
  font-family: 'Roboto', sans-serif;
}

.subtitle{
  text-align: center;
  font-family: 'Nunito', sans-serif;
  color: #094E39;

}

.formulario input[type=submit]{
  background-color: #F38D5E;
  min-width: 18.5rem;
  height: 2.8rem;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 0.9rem;
  border-radius: 10px;
  border: 1px solid #EF6424;
}

// .final{
//   display: flex;
//   flex-direction: column;
//   flex-wrap: nowrap;
//   align-content: center;
//   justify-content: center;
//   align-items: center;
//   max-width: 19rem;
// }

#locationcheckbox{
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#puesto{
  margin-top: 5px;
  border: 1px solid #EF6424;
  min-width: 18.3rem;
  min-height: 43px;
  border-radius: 7px;
  color: #555555;
  opacity: 1;
  font-size: 1.1rem;
  font-family: 'Nunito', sans-serif;
}


  .formulario input[type=checkbox]{
     max-width: 20px;
  }

  body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(219, 219, 219, 0.8);
    filter: blur(20px);
}
.modal-content {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 2rem;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    min-height: 35rem;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}


.close-modal {
  border: 0;
  text-decoration: none;
  /* cursor: default; */
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none; /* for button */
   -webkit-appearance: button; /* for input */
     -moz-user-select: none;
      -ms-user-select: none;
      background-color: #F38D5E;
      min-width: 12.5rem;
      height: 2.8rem;
      color: white;
      font-family: 'Nunito', sans-serif;
      font-size: 0.9rem;
      border-radius: 10px;
      border: 1px solid #EF6424;
      text-align: center;
    }

 


@media only screen and (min-width: 800px) {

  .formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    min-width: 25rem;
  }

  .formulario input{
    margin: 5px;
      border: 1px solid #EF6424;
      border-radius: 7px;
      // min-width: 25rem;
      height: 38px;
      background: #FCFCFC;
      font-family: 'Nunito', sans-serif;
      font-size: 0.9rem;
  }
}