.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;

}

.list__a {
    text-decoration: none;
    cursor: pointer;
}