.donut_class{
    display: flex;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
}

.par_class {
    font-family: 'Nunito';
    margin:0;
    padding: 0;
    font-size: 0.9rem;

}

/* .p_class {
    
} */
