.progress_bar_class {
    display: flex;
    flex-direction: column;
    box-shadow: 1rem;
    border-color: black;
    margin-bottom: 3rem;
    width: 80vw;
    height: 32rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    border: black;
    border-radius: 1;
    border: 1px solid rgba(128, 128, 128, 0.2);
    box-shadow: black;
    box-shadow: 0px 4px 15px 9px rgba(81, 69, 159, 0.09);
    overflow: scroll;
    & p {
        margin-left: 5%;
        margin-bottom: 0.2%;
        font-size: 16px;
        font-family: 'Nunito';
        color: #62676a9e;

    }
}

.p_desc_class {
    font-size: 10px;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: -2%;
    font-family: "Nunito";
    color: #62676A;

}

.parentdiv_class {
    height: 18px;
    width: 80%;
    background-color: whitesmoke;
    border-radius: 40px;
    margin-left: 1rem;
    & div{
    height: 100%;
    display: flex;
    width: 35%;
    background: linear-gradient(270deg, #FCAE73 0%, #EF6424 99.18%);
    border-radius: 40px;
    text-align: right;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    & span {
        font-size: 12px;
    }
    }
}

.child_div {
        height: 100%;
        background-color: whitesmoke;
        border-radius:40;
        text-align: 'right';
}